<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/css/tabuleiro.css">
    <link rel="stylesheet" href="/style/css/PopUps.css">
    <link rel="stylesheet" href="/style/css/tabela.css">
    <link rel="stylesheet" href="/style/css/relogio.css">
    <title>Xadrez</title>
</head>

<body>
    <div id="jogo">

        <div class="barra-dos-jogadores" id="barra-adversario">
            <p>Adversário</p>
        </div>

        <div class="Container-Tabuleiro-opcoes">
            <div class="tabuleiro"></div>

            <div class="Container-de-Opcoes">

                <div class="relogio1"></div>
                
                <div class="relogio2"></div>

                <div class="container-de-movimentos">
                    <h1>Histórico</h1>
                    <div class="tabela-scroll">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Brancas</th>
                                    <th>Pretas</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div id="botoes">
                    <button id="Antes">
                        <img src="/imgs/arrow.png" alt="Antes" style="transform: rotateY(180deg);">
                </button>

                <button id="Desistir">
                    <img src="/imgs/flag.png" alt="Desistir">
                </button>
                
                <button id="Depois">
                    <img src="/imgs/arrow.png" alt="Depois">
                </button>
            </div>
            </div>
        </div>

        <div class="barra-dos-jogadores" id="barra-jogador">
            <p>Você</p>
        </div>

    </div>

    <div class="popUp-wrapper"></div>

    <div class="Promocao-Container"></div>

</body>

<script type="module" src="/js/main.js"></script>

</html>