.container-de-movimentos {
    color: aliceblue;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
}

table {
    margin: 5px auto;
    width: 80%;
    border-collapse: collapse;
    border: solid black 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

tbody {
    background-color: rgb(25, 26, 25);
}

thead {
    background-color: rgb(173, 96, 7);
    border: solid black 2px;
}

.container-de-movimentos h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

td, th {
    padding: 5px;
    border: 3px solid black;
    text-align: center;
}

.tabela-scroll {
    margin: 14px;
    height: 160px;
    overflow-y: auto;
    position: relative;
    scroll-behavior: smooth;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: rgb(173, 96, 7);
    z-index: 2;
}